.header {
  @include mobile {
    padding-top: 15px;
  }

  @include mobile-above {
    padding-top: 30px;
    column-gap: 20px;
  }

  @include tablet-above {
    column-gap: 20px;
  }

  @include desktop-above {
    padding-top: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-above {
      column-gap: 25px;
    }

    @include tablet-above {
      column-gap: 40px;
    }
  }

  &__menu {
    margin-left: auto;

    @include mobile-above {
      font-size: 16px;
    }

    @include tablet-above {
      font-size: 18px;
    }

    @include desktop-above {
      font-size: 20px;
    }

    &-list {
      display: flex;
      align-items: center;

      @include mobile-above {
        column-gap: 20px;
      }

      @include desktop-above {
        column-gap: 40px;
      }
    }

    &-link {
      position: relative;
      padding-block: 14px;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;

        width: 0;
        height: 2px;

        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__button {
    @include mobile-above {
      padding-inline: 18px;

      height: 48px;
      font-size: 16px;
    }

    @include tablet-above {
      padding-inline: 35px;

      height: var(--button-height);
      font-size: 20px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 4.5px;

  @include mobile-above {
    column-gap: 3.5px;
  }

  @include tablet-above {
    column-gap: 4.5px;
  }

  &__icon {
    @include mobile {
      width: 26px;
      aspect-ratio: 1;
    }

    @include mobile-above {
      width: 22px;
    }

    @include tablet-above {
      width: 36px;
    }
  }

  &__text {
    font-weight: 500;

    @include mobile {
      font-size: 26px;
    }

    @include mobile-above {
      font-size: 22px;
    }

    @include tablet-above {
      font-size: 40px;
    }
  }
}
