svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}
